<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/default"
>
<head>
    <meta charset="UTF-8"/>
    <title>My Movies - Admin</title>
</head>
<body>
<div id="adminPage" layout:fragment="content">
    <div class="col-sm-2 sidenav">
        <p><a th:href="@{/admin/adminShows}">Shows</a></p>
        <p><a th:href="@{/admin/adminUsers}">Users</a></p>
    </div>
    <div class="col-sm-10 text-left" layout:fragment="admin_content">
        <h1>Admin content</h1>
    </div>
</div>
</body>
</html>