<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/fontawesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/datatables/datatables.min.css}"/>
    <!--<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>-->
    <script th:src="@{/datatables/datatables.min.js}"></script>
    <script th:src="@{/datatables/plugins/natural.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <th:block layout:fragment="scripts"></th:block>
<!--
    <script>
        $(document).ready(function () {
            // Update the active item in the nav bar
            if ($("#homePage").length) {
                $("#navHome").addClass("active");
            }
            else if ($("#showsPage").length) {
                $("#navShows").addClass("active");
            }
            else if ($("#adminPage").length) {
                $("#navAdmin").addClass("active");
            }
        });
    </script>
-->
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!--<a class="navbar-brand" href="#">My Movies</a>-->
    <span class="navbar-brand">My Movies</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li id="navHome" class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
            <li id="navShows" class="nav-item"><a class="nav-link" th:href="@{/shows/search.html}">Shows</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" id="navAdmin" class="nav-item"><a class="nav-link" th:href="@{/admin/adminTemplate}">Admin</a></li>
            <!--<li id="navAbout" class="nav-item"><a class="nav-link" href="#about">About</a></li>-->
        </ul>
    </div>
</nav>
<main role="main" class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="content col-sm-10" layout:fragment="content">
            Page content goes here
        </div>
        <div class="col-sm-1"></div>
    </div>
</main>
</body>
</html>