<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/default"
>
<head>
    <meta charset="UTF-8"/>
    <title>My Movies</title>
    <link rel="stylesheet" th:href="@{/css/rating.css}"/>
</head>
<body>
<div id="showsPage" layout:fragment="content">
    <h1 class="row">Search Shows</h1>

    <form action="#" th:action="@{/shows/search}" th:object="${showSearchFilter}" method="post">
        <div class="form-row">
            <div class="col-sm-9">
                <div class="form-row">
                    <div class="form-group col-sm-4">
                        <label for="show-type-select">Type:</label>
                        <select id="show-type-select" class="form-control" th:field="*{showType}">
                            <option th:each="st : ${showTypes}"
                                    th:value="${st.id}"
                                    th:text="${st.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="format-select">Format:</label>
                        <select id="format-select" class="form-control" th:field="*{format}">
                            <option th:each="mFormat : ${mediaFormats}"
                                    th:value="${mFormat}"
                                    th:text="${mFormat}"></option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="rating-select">Rating:</label>
                        <select id="rating-select" class="form-control" th:field="*{rating}">
                            <option th:each="r : ${ratings}"
                                    th:value="${r}"
                                    th:text="${r} + ' star'"></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label for="title-text">Title:</label>
                        <input id="title-text" type="text" name="title" class="form-control" th:field="*{title}"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="title-text">Genres:</label>
                    <select id="genre-select" class="form-control" multiple="multiple" size="5" th:field="*{genres}">
                        <option th:each="g : *{showType.genres}"
                                th:value="${g}"
                                th:text="${g}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <button id="search-button" type="submit" class="btn btn-primary">Search</button>
            <button id="reset-button" type="reset" class="btn btn-default">Reset</button>
        </div>
    </form>
    <p></p>
    <h2 class="row">Search Results - DT</h2>
    <div id="results-area" th:if="${shows != null and shows.size() gt 0}" class="row">
        <table id="show-table" class="table table-striped"
               dt:table="true"
               dt:pagingType="full_numbers"
               dt:lengthMenu="5,10,20"
               dt:dom="&lt;'row'&lt;'col-sm-3'f>&lt;'col-sm-9'p>>&lt;'row'&lt;'col-sm-12'tr>>&lt;'row'&lt;'col-sm-3'l>&lt;'col-sm-9'p>>"
        >
            <thead class="thead-dark">
            <tr>
                <th scope="col" dt:sortable="false"></th>
                <th scope="col">Title</th>
                <th scope="col" dt:sortable="false">Tag Line</th>
                <th scope="col" dt:sortable="false">Genres</th>
                <th scope="col">Format</th>
                <th scope="col" dt:sortType="natural">Rating</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col" dt:sortable="false">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="show : ${shows}">
                <td><img th:src="@{${'/shows/poster-thumb/' + show.id}}"/></td>
                <td><a href="#"><span th:text="${show.title}"/></a></td>
                <td th:text="${show.tagLine}"></td>
                <td th:text="${show.genreText}"></td>
                <td th:text="${show.mediaFormat}"></td>
                <td>
                    <span class="fa fa-star" th:classappend="(${show.myRating} > 0) ? 'starred' : ''"></span>
                    <span class="fa fa-star" th:classappend="(${show.myRating} > 1) ? 'starred' : ''"></span>
                    <span class="fa fa-star" th:classappend="(${show.myRating} > 2) ? 'starred' : ''"></span>
                    <span class="fa fa-star" th:classappend="(${show.myRating} > 3) ? 'starred' : ''"></span>
                    <span class="fa fa-star" th:classappend="(${show.myRating} > 4) ? 'starred' : ''"></span>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" class="text-center">
                    <a href="#"><span class="fa fa-pencil-square-o text-success"
                                      th:title="'Edit ' + ${show.title}"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>