<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/default"
>
<head>
    <meta charset="UTF-8"/>
    <title>Search Shows</title>
    <link rel="stylesheet" th:href="@{/css/rating.css}"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            var isAdmin = /*[[${@adminService.hasRoles(#httpServletRequest, 'ROLE_ADMIN')}]]*/ false;

            // Update the active item in the nav bar
            if ($("#homePage").length) {
                $("#navHome").addClass("active");
            }
            else if ($("#showsPage").length) {
                $("#navShows").addClass("active");
            }
            else if ($("#adminPage").length) {
                $("#navAdmin").addClass("active");
            }

            var colDefs = [
                {
                    targets: [0,2],
                    orderable: false
                },
                {
                    targets: [5],
                    type: "natural",
                    width: "85px"
                },
                {
                    targets: [6],
                    visible: false
                }
            ];

            if (isAdmin) {
                colDefs = [
                    {
                        targets: [0,2,6],
                        orderable: false
                    },
                    {
                        targets: [5],
                        type: "natural",
                        width: "85px"
                    }
                ]
            }

            $('#show-table').DataTable({
                pagingType: 'full_numbers',
                lengthMenu: [5,10,20],
                dom: "<'row'<'col-sm-3'f><'col-sm-9'p>><'row'<'col-sm-12'tr>><'row'<'col-sm-3'l><'col-sm-9'p>>",
                columnDefs: colDefs
            });
        });

        var showDetailsUrl = /*[[@{/shows/details}]]*/ "/shows/blah/details";

        function openShowModal(showId) {
            $.ajax({
                url: showDetailsUrl + "/" + showId,
                // url: /*[[@{/shows/details}*/ "/shows/details",
                // url: "/shows/details/" + showId,
                success: function(data) {
                    $("#show-modal-holder").html(data);
                    $("#show-modal").modal("show");
                }
            })
        }
        /*]]>*/
    </script>
</head>
<body>
<div id="showsPage" layout:fragment="content">
    <h1 class="row">Search Shows</h1>

    <form action="#" th:action="@{/shows/search}" th:object="${showSearchFilter}" method="post">
        <div class="form-row">
            <div class="col-sm-9">
                <div class="form-row">
                    <div class="form-group col-sm-4">
                        <label for="show-type-select">Type:</label>
                        <select id="show-type-select" class="form-control" th:field="*{showType}">
                            <option th:each="st : ${showTypes}"
                                    th:value="${st.id}"
                                    th:text="${st.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="format-select">Format:</label>
                        <select id="format-select" class="form-control" th:field="*{format}">
                            <option th:each="mFormat : ${mediaFormats}"
                                    th:value="${mFormat}"
                                    th:text="${mFormat}"></option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="rating-select">Rating:</label>
                        <select id="rating-select" class="form-control" th:field="*{starRating}">
                            <option th:each="r : ${starRatings}"
                                    th:value="${r}"
                                    th:text="${r} + ' star'"></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label for="title-text">Title:</label>
                        <input id="title-text" type="text" name="title" class="form-control" th:field="*{title}"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="title-text">Genres:</label>
                    <select id="genre-select" class="form-control" multiple="multiple" size="5" th:field="*{genres}">
                        <option th:each="g : *{showType.genres}"
                                th:value="${g}"
                                th:text="${g}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <button id="search-button" type="submit" class="btn btn-primary">Search</button>
            <button id="reset-button" type="reset" class="btn btn-default">Reset</button>
        </div>
    </form>
    <p></p>
    <h2 class="row">Search Results</h2>
    <div id="results-area" class="row">
        <table id="show-table" class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Tag Line</th>
                <th scope="col">Genres</th>
                <th scope="col">Format</th>
                <th scope="col">Rating</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="show : ${shows}">
                <td><img th:src="@{${'/shows/poster-thumb/' + show.id}}"/></td>
                <td><a href="#" th:onclick="'openShowModal(' + ${show.id} + '); return false;'"><span th:text="${show.title}"/></a></td>
                <td th:text="${show.tagLine}"></td>
                <td th:text="${show.genreText}"></td>
                <td th:text="${show.mediaFormat}"></td>
                <td class="text-center">
                    <span class="fa fa-star" th:classappend="(${show.starRating} > 0) ? 'starred' : ''"></span>
                    <span class="fa fa-star" th:classappend="(${show.starRating} > 1) ? 'starred' : ''"></span>
                    <span class="fa fa-star" th:classappend="(${show.starRating} > 2) ? 'starred' : ''"></span>
                    <span class="fa fa-star" th:classappend="(${show.starRating} > 3) ? 'starred' : ''"></span>
                    <span class="fa fa-star" th:classappend="(${show.starRating} > 4) ? 'starred' : ''"></span>
                </td>
                <td class="text-center">
                    <!--<a href="#" th:href="@{/shows/edit-show/${show.id}}">-->
                    <a href="#" th:href="@{${'/admin/edit-show/' + show.id}}">
                        <span class="fa fa-pencil-square-o text-success" th:title="'Edit ' + ${show.title}"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="show-modal-holder"></div>
</div>
</body>
</html>